.background {
  align-self: center;
}

.main {
  width: 100vw;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(black 60%, transparent);
}

.header ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.header li {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: larger;
  display: inline-block;
  padding: 10px 0px;
  position: relative;
  pointer-events: all;
}

.header a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header a:hover:after {
  width: 100%; 
  left: 0;
}

.header img {
  pointer-events: all;
  cursor: pointer;
  width: 350px;
}

.header .mobile-img {
  margin-top: 25px;
  margin-right: 25px;
  width: 250px;
  float: right;
}

.no-bg {
  background: none;
}

.singular-header li {
  margin-top: 25px;
}

.footer {
  width: 50%;
  height: fit-content;
  margin-top: auto;
  font-size: smaller;
}

.footer p {
  color: grey;
  text-align: center;
  pointer-events: all;
}

.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.footer li {
  display: flex;
  align-items: center;
}

.footer a {
  transition: all ease-in-out 0.3s;
  pointer-events: all;
  text-decoration: none;
  color: gray;
}

.footer a:hover {
  transition: all ease-in-out 0.3s;
  color: white;
}

.footer-wrapper-link {
  display: flex;
  justify-content: center;
}

.footer-inner-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.footer-inner-link {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  height: fit-content;
}

.text {
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
  width: 80%;
  max-width: 800px;
  font-size: larger;
  /* display: flex;
  justify-content: center; */
}

.nft-text {
  max-width: none;
}

.text p {
  pointer-events: all;
}

.fade-in {
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.instant-fade-out {
  opacity: 0;
  transition: opacity 0s ease-in-out;
}

.play-button {
  transition: all ease-in-out 0.3s;
  display: block;
  background: transparent;
  border: solid white 2px;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  pointer-events: all;
  text-decoration: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.play-button:hover {
  transition: all ease-in-out 0.3s;
  background: white;
  color: black;
}

.mobile-body-text {
  font-size: smaller;
}





