.background {
  height: 90%;
  align-self: center;
  /* pointer-events: none; */
}

/* .hidden {
  display: ;
} */
.main {
  width: 100vw;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(black, transparent);
}

.header ul {
  
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.header li {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: larger;
  display: inline-block;
  padding: 10px 0px;
  position: relative;
  pointer-events: all;
}

.header a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header a:hover:after { 
  width: 100%; 
  left: 0;
}

.header img {
  cursor: pointer;
  width: 350px;
}

.footer {
  width: 50%;
  height: fit-content;
  margin-top: auto;
}

.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.footer li {
  display: flex;
  align-items: center;
}

.footer a {
  pointer-events: all;
  text-decoration: none;
  color: gray;
}

.text {
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
  width: 80%;
  font-size: larger;
  display: flex;
  justify-content: center;
}

.fade-in {
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.instant-fade-out {
  opacity: 0;
  transition: opacity 0s ease-in-out;
}

.play-button {
  transition: all ease-in-out 0.3s;
  display: block;
  background: transparent;
  border: solid white 2px;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  pointer-events: all;
}

.play-button:hover {
  transition: all ease-in-out 0.3s;
  background: white;
  color: black;
}

