@font-face {
    font-family: 'matamata';
    src: 
        url('./../fonts/matamata.regular.otf')
        format('opentype');
}

@font-face {
    font-family: 'matamata';
    src: 
        url('./../fonts/matamata.bold.otf')
        format('opentype');
    font-weight: bold;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    color: white;
    font-family: 'matamata';
}

/* body {
    display: flex; 
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

main {
    flex: 1;
} */