.lens-flare {
    width: 100%;
}

.lens-blink {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
}

#blink-1 {
    width: 100px;
    height: 100px;
    background-color: white;
}

#blink-2 {
    width: 100px;
    height: 100px;
    background-color: white;
}

#blink-3 {
    width: 100px;
    height: 100px;
    background-color: white;
}

#blink-4 {
    width: 100px;
    height: 100px;
    background-color: white;
}

#blink-5 {
    width: 100px;
    height: 100px;
    background-color: white;
}