.nft-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.nft-table td, tr, tbody {
    margin: 0;
    padding: 0;
    border: none;
}

.nft-table td {
    font-size: 0;
    height: fit-content;
}

.nft-image {
    margin: 0;
    padding: 0;
    /* width: 200px; */
}