#text-block-7-1, #text-block-7-2 {
    width: 100%;
}

.nft-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.nft-table td, tr, tbody {
    margin: 0;
    padding: 0;
    border: none;
}

.nft-table td {
    font-size: 0;
    height: fit-content;
    padding: 5px;
}

.nft-image {
    margin: 0;
    padding: 0;
    border: 3px solid black;
    
}

.shadow {
    border: 3px solid black;
    box-shadow: 5px 5px 35px 15px black;
}