.parallax {
    perspective: 1px;
    width: 100vw;
    /* height: 100vh; */
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
}

.parallax-layer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.parallax-layer--front {
    transform: translateZ(2px);
}

.parallax-layer--base {
    transform: translateZ(1px);
}
  
.parallax-layer--back {
    transform: translateZ(0px);
}

.parallax-group {
    display: flex;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
}